[Unit]
Description=Generate combined RSS feed.


[Service]
Type=oneshot
# Make sure to set user and group
# to your setup.
User=nginx
Group=nobody

# Make sure to customise these to your
# system!
WorkingDirectory=/var/www/html/feed.xml
# And this.
EnvironmentFile=/opt/singlerss/.env
# And this.
ExecStart=/opt/rss/singlerss.py

# These don't work on older systemd versions.
# In that case, you should configure singlerss
# to output to file, as documented in the README,
# and comment these directives out.
StandardInput=null
StandardError=journal
StandardOutput=file:$SINGLERSS_FEED_OUT_PATH
